body, html{
  background-image: url("../images/wallpaper.jpg");
  height: 100%;
  background-attachment: fixed;
}
body {
  padding-top: 45pt;
  margin: 0;
}
p, pre, li {
  padding-left: 20px;
  padding-right: 20px;
}
.title {
    text-align: center;
    font-size: 40pt;
}
.about_us_text {
  font-size: 25px;
  color: white;
}
h1 {
    font-family: monospace;
    color: green;
    text-align: center;
    font-size: 100pt;

    padding-top: 160px;
    padding-bottom: 200px;
}
body h2, h3, h4, h5{
  color: white;
  text-align: left;
  font-family: sans-serif;
  padding-left: 20px;
}

body section {
  font-family: monospace;
  color: #a0a0a0;
  font-size: 15pt;
  font-weight: 100;
}
/*.border {
  border-style: solid;
  border-width: 1px;
  width: 70%;
  transition: width 0.5s;
  border-radius: 10px;
  border-collapse: separate;
  padding: 15px;
}
.border:hover{
  width: 75%;
}*/
strong.command {
  color: green;
  text-decoration: underline;
}
strong.command:hover {
  color: #2c9e15;
}
table, thead {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  font-size: 18pt;
}
ul {
  list-style-image: url('../images/csharp.png');
}
#navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navigation li {
  display: inline;
  padding: 0;
}
#navigation .active {
  color: white;
  background-color: green;
}
#navigation a {
  color: green;
  padding: 1%;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  font-family: monospace;
  float:left
}
#navigation a:hover:not(.active) {
  color: green;
  background-color: white;
}
.important {
  text-decoration: underline;
  font-weight: bolder;
  color: red;
}
.important::before {
  content: "Warning: ";
}
.important:hover {
  color: darkred;
}
.overview {
  float: right;
  margin-right: 68%;
  border: solid 1px darkgreen;
  background-color: darkgreen;
  color: white;
  margin-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: separate;
  padding: 15px;
}
.overview strong {
  color: black;
}
.border {
  margin-left: 35%;
  border-style: solid;
  border-right: none;
  border-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-collapse: separate;
  padding: 15px;

}
.parallax {
  background-image: url("../images/a.jpg");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 50px;
  padding-bottom: 50px;
}
